<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Study</title>
  <style>
    .active {
      color: green;
    }

    .text-danger {
      border: 1px;
      border-color: red;
      border-style: solid;
    }
  </style>
</head>

<body>
  <!-- app -->
  <div id="todo-list-example">
    <form v-on:submit.prevent="addNewTodo">
      <label for="new-todo">Tarefa:</label>
      <input
        v-model="newTodoText"
        id="new-todo"
        placeholder="Ex.: Alimentar o gato"
      >
      <button>Adicionar</button>
    </form>
    <ul>
      <li
        is="todo-item"
        v-for="(todo, index) in todos"
        v-bind:key="todo.id"
        v-bind:title="todo.title"
        v-on:remove="todos.splice(index, 1)"
      ></li>
    </ul>
  </div>

  <!-- versão de desenvolvimento, inclui avisos úteis no console  -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./assets/js/script.js"></script>
</body>

</html>