* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 1rem;
    list-style: none;
}

h1 {
    font-size: 1.5rem;
}

body {
    margin: 16px;
    padding: 16px;
    background: #DADADA;
}

.tab {
    padding: 1rem;
    margin-top: 1rem;
    border: black solid 1px;
    display: flex;
}

.contentPost {
    margin-left: 40px;
}

.menus > li {
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.menus > li::after {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background: black;
    left: 0;
    bottom: -5px;
    transition: 0.2s;
}

.menus > li:hover::after {
    width: 100%;
}